/*reset*/ 
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #f0ebf8;
} 
h1,h2,h3,h4,h5{
    color: #333;
}
p, label{
    color: #444;
}
input{
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
input[type=text], input[type=number], input[type=date], input[type=file] {
    width: 400px;
}
textarea{
    padding: 10px 5px;
    width: 400px;
}
/*cabeçalho*/ 
.header{
    height: 160px;
    padding: 20px;
    background-color: darkblue;
}
.header h3{
    color: #fff;
    margin-top: 0;
}
/* container*/
.form-container{
    background-color: #FFF;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -62px;
}
/*cabeçalho*/
.form-header{
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}
.form-header p {
     color: #00f;
     border-bottom:2px solid #00f;
     width: 100px;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
     text-transform: uppercase;
     height: 45px;
     line-height: 45px;
}
/*Corpo */
.form-body{
    padding: 30px;
}
.form-title{
    margin: 0;
}
.required-field{
    color: #d80835;
}
.box-input{
    margin-bottom: 30px;
}
.block{
    display: block;
}
.optional-box{
    display: inline-block;
    margin-right: 30px;

}
.option-list{
    padding-left: 0;
}
.option-list li{
    list-style: none;
}
.btn-submit {
    background-color: #00f;
    color: #Fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;

}
.btn-submit:hover{
    background-color: #FFF;
    border-color: #00f;
    color: #00f;
}
